Abijeet Patro <abijeetpatro@gmail.com>
Adam Wight <adam.wight@wikimedia.de> <awight@wikimedia.org>
Alangi Derick <alangiderick@gmail.com>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il> <amire80@users.mediawiki.org>
Amir Sarabadani <ladsgroup@gmail.com> <Ladsgroup@gmail.com>
Antoine Musso <hashar@free.fr>
Antoine Musso <hashar@free.fr> <hashar@users.mediawiki.org>
Aryeh Gregor <ayg@aryeh.name> <simetrical@users.mediawiki.org>
Brian Wolff <bawolff+wn@gmail.com> <bawolff@users.mediawiki.org>
Brion Vibber <brion@wikimedia.org>
Brion Vibber <brion@wikimedia.org> <brion@pobox.com>
Brion Vibber <brion@wikimedia.org> <brion@users.mediawiki.org>
Chad Horohoe <chadh@wikimedia.org>
Chad Horohoe <chadh@wikimedia.org> <demon@users.mediawiki.org>
Daniel Kinzler <dkinzler@wikimedia.org>
Daniel Kinzler <dkinzler@wikimedia.org> <daniel.kinzler@wikimedia.de>
David Causse <dcausse@wikimedia.org>
Federico Leva <federicoleva@tiscali.it>
Florian Schmidt <florian.schmidt.stargatewissen@gmail.com>
Harry Burt <jarry1250@gmail.com>
James D. Forrester <jforrester@wikimedia.org>
Joel Sahleen <jsahleen@wikimedia.org>
Justin Du <justin.d128@gmail.com>
Kunal Grover <kunalgrover05@gmail.com>
Kunal Mehta <legoktm@debian.org>
Kunal Mehta <legoktm@debian.org> <legoktm@member.fsf.org>
Kunal Mehta <legoktm@debian.org> <legoktm.wikipedia@gmail.com>
Kunal Mehta <legoktm@debian.org> <legoktm@gmail.com>
MarcoAurelio <strigiwm@gmail.com> <maurelio@tools.wmflabs.org>
Marius Hoch <hoo@online.de>
Matthew Walker <mwalker@wikimedia.org>
Max Semenik <maxsem.wiki@gmail.com>
Max Semenik <maxsem.wiki@gmail.com> <maxsem@users.mediawiki.org>
Niklas Laxström <niklas.laxstrom@gmail.com>
Niklas Laxström <niklas.laxstrom@gmail.com> <nikerabbit@users.mediawiki.org>
Omid Hezaveh <ommmmid@gmail.com>
Omid Hezaveh <ommmmid@gmail.com> <omid.hezaveh@futurice.com>
Pau Giner <pginer@wikimedia.org>
Pau Giner <pginer@wikimedia.org> <pau.giner@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com> <raymond@users.mediawiki.org>
Roan Kattouw <roan.kattouw@gmail.com>
Roan Kattouw <roan.kattouw@gmail.com> <catrope@users.mediawiki.org>
Santhosh Thottingal <santhosh.thottingal@gmail.com>
Santhosh Thottingal <santhosh.thottingal@gmail.com> <santhosh@users.mediawiki.org>
Siebrand Mazeland <siebrand@kitano.nl>
Siebrand Mazeland <siebrand@kitano.nl> <s.mazeland@xs4all.nl>
Siebrand Mazeland <siebrand@kitano.nl> <siebrand@users.mediawiki.org>
Siebrand Mazeland <siebrand@kitano.nl> <siebrand@wikimedia.org>
Tim Starling <tstarling@wikimedia.org>
Tim Starling <tstarling@wikimedia.org> <tstarling@users.mediawiki.org>
Timo Tijhof <krinklemail@gmail.com>
Timo Tijhof <krinklemail@gmail.com> <ttijhof@wikimedia.org>
Umherirrender <umherirrender_de.wp@web.de>
Yifei He <eflyjason@gmail.com>
Yuki Shira <shirayuking@gmail.com>
[BOT] Translation updater bot <l10n-bot@translatewiki.net>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org> <jenkins-bot@wikimedia.org>
[BOT] libraryupgrader <tools.libraryupgrader@tools.wmflabs.org>
paladox <thomasmulhall410@yahoo.com>
seb35 <seb35wikipedia@gmail.com>
Željko Filipin <zeljko.filipin@gmail.com>
