/* Special:Translate */
.mw-sp-translate-table {
	width: 100%;
	border-style: solid none none solid;
	border-width: 1px;
	border-collapse: collapse;
}

.mw-sp-translate-table th {
	background-color: #b2b2ff;
	border-style: none solid solid none;
	border-width: 1px;
}

.mw-sp-translate-table tr.orig {
	background-color: #ffe2e2;
}

.mw-sp-translate-table tr.new {
	background-color: #e2ffe2;
}

.mw-sp-translate-table tr.def {
	background-color: #f0f0ff;
}

.mw-sp-translate-table tr.ign {
	background-color: #202020;
}

.mw-sp-translate-table tr.opt {
	background-color: #F2F200;
}

.mw-sp-translate-table .untranslated {
	background-color: #a2f290;
}


.mw-sp-translate-table td {
	vertical-align: top;
	border-style: none solid solid none;
	border-width: 1px;
}

.mw-sp-translate-error {
	font-style: italic;
	background-color: yellow;
	padding-left: 3em;
	padding-right: 3em;
}

.mw-sp-translate-settings table {
	border-spacing: 12pt 5pt;
	background-color: inherit;
	font-weight: bold;
}

/* Edit page */

.mw-ajax-dialog .mw-ajax-loader {
	margin: 2em;
}

.mw-ajax-dialog {
	font-size: small;
}

.mw-ajax-dialog #summary {
	width: 5em;
}

.mw-translate-tmsug {
	margin-bottom: 0.2em;
}

.mw-sp-translate-edit-fields fieldset {
	line-height: normal;
	margin: 0px;
	border: 1px solid #DBDBDB;
	text-align: left;
}

.mw-sp-translate-edit-fields legend {
	background-color: transparent;
}

.mw-translate-edit-extra {
	border-bottom: 1px solid black;
}

.ltr .mw-translate-legend {
	float: right;
	border-left: 1px solid black;
	font-weight: bold;
	margin-left: 5pt;
	padding-left: 5pt;
}

.rtl .mw-translate-legend {
	float: left;
	border-left: 1px solid black;
	font-weight: bold;
	margin-right: 5pt;
	padding-right: 5pt;
}

.mw-translate-sep {
	margin-bottom:1ex;
	margin-top:0.5ex;
}

.mw-translate-edit-deftext {
	font-family: monospace;
}

.mw-translate-edit-area {
	padding: 0;
	width: 100%;
}

.mw-translate-history {
	float: right;
}

/* Blue tints for translate fieldsets */
.mw-sp-translate-edit-inother { background-color: #F8F8FF; }
.mw-sp-translate-in-other-small { background-color: #F0F8FF; }
.mw-sp-translate-in-other-big { background-color: #F0F8FF; }
.mw-sp-translate-message-documentation { background-color: #EBEBEB; }
.mw-sp-translate-edit-definition { background-color: #EAF3FC; }
.mw-sp-translate-edit-warnings { background-color: #FFDBDB; }
.mw-translate-definition-preview { padding: 3px; }
.mw-translate-edit-tmsugs { background-color: #C0F9B6; }

/* End edit page */


/* Group listing at Special:Translate */

table.mw-sp-translate-grouplist td {
	min-width: 13em;
}

table.mw-sp-translate-subgroup {
	border: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}

.depth-2 { background-color: #EEE; }
.depth-3 { background-color: #DDD; }
.depth-4 { background-color: #CCC; }

a.mw-sp-showmore {
	display: block;
	margin: 0.5em;
	margin-left: 2em;
	font-style: oblique;
	cursor: pointer;
}

/**/


.mw-translate-other {
	background-color: #DFF;
}

.mw-translate-fuzzy {
	background-color: #FDD;
}
.mw-translate-definition-preview {
	font-family: monospace;
	background-color: #F3F3FF;
	border: 1px solid black;
}

.mw-pt-languages table {
	border: 1px solid rgb(170, 170, 170);
	background: rgb(246, 249, 237) none repeat scroll 0% 0%;
	border-collapse: collapse;
	line-height: 1.2;
	width: 100%;
}

.mw-pt-languages-label {
	border-right: 1px solid rgb(170, 170, 170);
	padding: 0.5em;
	background: rgb(238, 243, 226) none repeat scroll 0% 0%;
	width: 200px;
}

.mw-pt-languages-list {
	padding: 0.5em;
}

.mw-tpt-sp-legend {
	font-weight: bold;
}

.mw-tpt-sp-content {
	font-size: small;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2ex;
}

/* First Steps '*/
#translate-fs-signup {
	display: block;
	margin: 1em;
	font-weight: bold;
	font-size: 200%;
}

#translate-fs-signup a {
	border: 2px dotted gray;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #D1E231 !important;
}