/* Special:Translate */
.mw-sp-translate-table {
	width: 100%;
}

.mw-sp-translate-table th {
	background-color: #b2b2ff;
}

.mw-sp-translate-table tr.orig {
	background-color: #ffe2e2;
}

.mw-sp-translate-table tr.new {
	background-color: #e2ffe2;
}

.mw-sp-translate-table tr.def {
	background-color: #f0f0ff;
}

.mw-sp-translate-table tr.ign {
	background-color: #202020;
}

.mw-sp-translate-table tr.opt {
	background-color: #F2F200;
}

.mw-sp-translate-error {
	font-style: italic;
	background-color: yellow;
	padding-left: 3em;
	padding-right: 3em;
}

.mw-sp-translate-settings table {
	border-spacing: 12pt 5pt;
	background-color: inherit;
	font-weight: bold;
}