<div class="mw-tpp-sp-container grid">
	<form class="mw-tpp-sp-form row" name="mw-tpp-sp-input-form" action="">
		<input id="pp-summary" type="hidden" value="{{ summaryValue }}" />
		<input name="page" id="page" class="mw-searchInput mw-ui-input"
			placeholder="{{ pagenamePlaceholder }}" value="{{ inputValue }}"/>
		<button id="action-prepare" class="mw-ui-button mw-ui-progressive" type="button">
			{{ prepareButtonLabel }}</button>
		<button id="action-save" class="mw-ui-button mw-ui-progressive hide" type="button">
			{{ saveButtonLabel }}
		</button>
		<button id="action-cancel" class="mw-ui-button mw-ui-quiet hide" type="button">
			{{ cancelButtonLabel }}
		</button>
	</form>
	<div class="messageDiv mw-message-box hide"></div>
	<div class="divDiff hide">
		{{{ diffHeaderHtml }}}
	</div>
</div>
