<div class="mw-tpp-sp-container grid">
	<form class="mw-tpp-sp-form" name="mw-tpp-sp-input-form" action="">
		<input id="pp-summary" type="hidden" value="{{ summaryValue }}" />
		<div class="mw-tpp-sp-input">
			<input name="page" id="page" class="mw-searchInput cdx-text-input__input"
				placeholder="{{ pagenamePlaceholder }}" value="{{ inputValue }}"/>
			<button
				id="action-prepare"
				class="cdx-button
				cdx-button--action-progressive
				cdx-button--weight-primary"
				type="button"
			>
				{{ prepareButtonLabel }}
			</button>
			<button
				id="action-save"
				class="cdx-button cdx-button--action-progressive cdx-button--weight-primary hide"
				type="button"
			>
				{{ saveButtonLabel }}
			</button>
			<button
				id="action-cancel"
				class="cdx-button cdx-button--action-default hide"
				type="button"
			>
				{{ cancelButtonLabel }}
			</button>
		</div>
	</form>
	<div class="messageDiv mw-message-box hide"></div>
	<div class="divDiff hide">
		{{{ diffHeaderHtml }}}
	</div>
</div>
