/*
 * Form at Special:Translate
 */
.mw-sp-translate-error {
	font-style: italic;
	background-color: yellow;
}

/* This gets pretty far on wide screens... */
.mw-sp-translate-settings input[type=submit] {
	float: right;
}

/* For some reason a non-breaking space is not enough to keep the label
 * with the dropdown. */
.mw-sp-translate-settings label {
	white-space: nowrap;
}

/*
 * This reserves one corner with curvy lines for the message group status.
 */
#mw-sp-translate-workflow {
	float: right;
	vertical-align: middle;
	padding: 0.5em;
	margin-left: 20px;
	margin-right: -1em;
	margin-top: -1em;
	border-bottom: 2px dotted #666;
	border-left: 1px dotted #AAA;
	border-bottom-left-radius: 10px;
}


.tux-message-selector {
	padding-top: 2em;
	border-bottom: 2px solid #777;
	-webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
	margin-bottom: 3px !important;
}

.tux-message-selector span {
	border: medium none;
	color: #555555;
	font-size: 14pt;
	cursor: pointer;
	font-weight: normal;
	line-height: 1.25em;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-top: 1.25em;
}

.tux-message-selector span.selected {
	color: #0645AD;
	border-bottom: 2px solid #0645AD;
}

.tux-message-selector label {
	font-size: 12pt;
	color: #555555;
}
