.mw-sp-translate-table {
	width: 100%;
	border-width: 1px;
	border-collapse: collapse;
}

.mw-sp-translate-table th {
	background-color: #b2b2ff;
	border: 1px solid;
}

.mw-sp-translate-table tr.orig {
	background-color: #ffe2e2;
}

.mw-sp-translate-table tr.new {
	background-color: #e2ffe2;
}

.mw-sp-translate-table tr.def {
	background-color: #f0f0ff;
}

.mw-sp-translate-table tr.ign {
	background-color: #202020;
}

.mw-sp-translate-table tr.opt {
	background-color: #F2F200;
}

.mw-sp-translate-table .untranslated {
	background-color: #a2f290;
}

.mw-sp-translate-table > tbody > tr > * {
	vertical-align: top;
	border: 1px solid #909090;
}

.mw-translate-messagereviewbutton {
	float: right;
}

.mw-translate-messagereviewstatus {
	clear: right;
	text-align: right;
}

/*
 * Tux MessageTable
 */

/* Default colors */
.tux-messagelist {
	color: #252525;
	background-color: #FFFFFF;
	max-width: 800px;
}

.tux-message {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	border-bottom: 1px solid #C9C9C9;
}

.tux-message:hover {
	background-color: #F0F0F0;
}

.tux-list-status span,
.tux-list-edit {
	padding: 5px;
	/* 15px space for icon */
	padding-left: 20px;
	background-position: 0% 50%;
	background-repeat: no-repeat;
}

.tux-warning {
	background-color: #FFFFCC;
}

.tux-info {
	background-color: #F0F0F0;
}

.tux-list-source {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tux-list-translation {
	white-space: nowrap;
	color: #565656;
	padding-left: 5px;
	text-overflow: ellipsis;
}

.tux-list-message {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tux-status-translated,
.tux-status-proofread {
	/* @embed */
	background-image: url(images/label-tick.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(images/label-tick.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(images/label-tick.svg);
	background-image: linear-gradient(transparent, transparent), url(images/label-tick.svg);
}

.tux-status-fuzzy {
	/* @embed */
	background-image: url(images/label-flag.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(images/label-flag.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(images/label-flag.svg);
	background-image: linear-gradient(transparent, transparent), url(images/label-flag.svg);
}

.tux-list-edit a{
	/* @embed */
	background: transparent url(images/action-edit.png) left center no-repeat; 
	background-image: -webkit-linear-gradient(transparent, transparent), url(images/action-edit.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(images/action-edit.svg);
	background-image: linear-gradient(transparent, transparent), url(images/action-edit.svg);
	background-size: 18px 18px;
	padding-left: 19px;
}

.tux-ajax-loader {
	border-top: 1px solid black;
	border-bottom: 1px solid gray;
	height: 75px;
	background-color: #F0F0F0;
	color: #565656;
	padding: 15px;
	top: 0px;
	background-position: 16px 50%;
}

.tux-ajax-loader-count {
	padding: 0 0 5px 46px;
	font-size: 25px;
}

.tux-ajax-loader-more {
	padding-left: 46px;
	font-size: 15px;
}

.tux-action-bar {
	background-color: #F0F0F0;
	color: #252525;
	border-top: 1px solid black;
	border-bottom: 1px solid gray;
}

/* Loading indicator: */

@-webkit-keyframes tux-loading-indicator-spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes tux-loading-indicator-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.tux-loading-indicator {
	float: left;
	background: transparent url(images/loading.gif) right bottom no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url(images/loading.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(images/loading.svg);
	background-image: linear-gradient(transparent, transparent), url(images/loading.svg);
	background-size: 100%;
	-webkit-animation-name: tux-loading-indicator-spin;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: tux-loading-indicator-spin;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	height: 34px;
	width: 34px;
	backface-visibility: hidden;
}
