/*
 * Group listing at Special:Translate
 */
table.mw-sp-translate-grouplist td {
	min-width: 13em;
}

table.mw-sp-translate-subgroup {
	border: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}

.depth-2 { background-color: #EEE; }
.depth-3 { background-color: #DDD; }
.depth-4 { background-color: #CCC; }

a.mw-sp-showmore {
	display: block;
    margin: 0.5em 0.5em 0.5em 2em;
    font-style: oblique;
	cursor: pointer;
}

/*
 * Form at Special:Translate
 */
.mw-sp-translate-error {
	font-style: italic;
	background-color: yellow;
}

/* This gets pretty far on wide screens... */
.mw-sp-translate-settings input[type=submit] {
	float: right;
}

/* For some reason a non-breaking space is not enough to keep the label
 * with the dropdown. */
.mw-sp-translate-settings label {
	white-space: nowrap;
}

/*
 * This reserves one corner with curvy lines for the message group status.
 */
#mw-sp-translate-workflow {
	float: right;
	vertical-align: middle;
	padding: 0.5em;
	margin-left: 20px;
	margin-right: -1em;
	margin-top: -1em;
	border-bottom: 2px dotted #666;
	border-left: 1px dotted #AAA;
	border-bottom-left-radius: 10px;
}
