.mw-translate-helplink {
	position: relative;
	margin-top: -10px;
	float: right;
}

.mw-translate-helplink a {
	display: block;
	position: absolute;
	width: 150px;
	left: -150px;
	text-align: right;
	overflow: hidden;
}

.mw-translate-helplink img {
	vertical-align: middle;
	margin-right: 4px;
}
