.mw-sp-translate-table {
	width: 100%;
	border-width: 1px;
	border-collapse: collapse;
}

.mw-sp-translate-table th {
	background-color: #b2b2ff;
	border: 1px solid;
}

.mw-sp-translate-table tr.orig {
	background-color: #ffe2e2;
}

.mw-sp-translate-table tr.new {
	background-color: #e2ffe2;
}

.mw-sp-translate-table tr.def {
	background-color: #f0f0ff;
}

.mw-sp-translate-table tr.ign {
	background-color: #202020;
}

.mw-sp-translate-table tr.opt {
	background-color: #F2F200;
}

.mw-sp-translate-table .untranslated {
	background-color: #a2f290;
}


.mw-sp-translate-table > tbody > tr > * {
	vertical-align: top;
	border: 1px solid #909090;
}

.mw-translate-messagereviewbutton {
	float: right;
}

.mw-translate-messagereviewstatus {
	clear: right;
	text-align: right;
}

/* Default colors */
.tux-messagelist {
	color: #252525;
	background-color: #FFFFFF;
	max-width: 800px;
}

.tux-message {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	border-bottom: 1px solid #C9C9C9;
}

.tux-message > div {
	height: 50px;
}

.tux-message:hover {
	background-color: #F0F0F0;
}

.tux-list-status span {
	padding: 5px;
}

.tux-warning {
	background-color: #FFFFCC;
}

.tux-info {
	background-color: #F0F0F0;
}

.tux-list-source {
	white-space: nowrap;
	text-overflow: ellipsis;
}
	
.tux-list-translation {
	white-space: nowrap;
	color: #565656;
	padding-left: 5px;
	text-overflow: ellipsis;
}

.tux-list-message {
	overflow: hidden;
}