.tux-message-editor {
	border: 1px solid #777;
	background-color: #FFFFFF;
	cursor: default;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tux-message-editor .close {
	/* @embed */
	background: url('../images/close.png') no-repeat scroll center center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/close.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/close.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/close.svg);
	padding: 15px;
	cursor: pointer;
	float: right;
}

.tux-message-editor .editor-info-toggle {
	padding: 15px;
	cursor: pointer;
	float: right;
}

.tux-message-editor .editor-contract {
	/* @embed */
	background: url('../images/contract-ltr.png') no-repeat scroll center center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/contract-ltr.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/contract-ltr.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/contract-ltr.svg);
}

.tux-message-editor .editor-expand {
	/* @embed */
	background: url('../images/expand-ltr.png') no-repeat scroll center center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/expand-ltr.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/expand-ltr.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/expand-ltr.svg);
}

.tux-message-editor .editcolumn {
	border-right: 1px solid #AAA;
}

.tux-message-editor textarea {
	border: 1px solid #555;
	font-size: 16px;
	margin-left: 10px;
	padding: 5px !important;
	height: 100px;
}

.tux-message-editor .messagekey {
	color: #252525;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0 5px 10px;
}

.tux-message-editor .messagekey .caret {
	border-top: 4px solid #252525;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px;
}

.tux-message-editor .sourcemessage {
	font-size: 16px;
	line-height: 1.6em;
	padding: 5px 0 10px 10px;
}

.tux-message-editor .button {
	text-overflow: ellipsis;
	font-size: 16px;
	height: 35px;
	margin: 10px 5px;
}

.tux-message-editor .shortcutinfo {
	font-size: 13px;
	color: #555;
	padding: 0px 5px 5px 10px;
}

.tux-message-editor .infocolumn {
	padding-left: 20px;
	font-size: 12pt;
	background: #FCFCFC;
}

.tux-message-editor .infocolumn .caret:before {
	border-top: 20px solid transparent;
	border-right: 20px solid #AAA;
	border-bottom: 20px solid transparent;
	content: "";
	display: inline-block;
	left: -20px;
	position: absolute;
	top: 90px;
}

.tux-message-editor .infocolumn .caret:after {
	border-top: 20px solid transparent;
	border-right: 20px solid #FCFCFC;
	border-bottom: 20px solid transparent;
	content: "";
	display: inline-block;
	left: -19px;
	position: absolute;
	top: 90px;
}

.message-desc {
	font-size: 16px;
	padding: 5px 0;
}

.message-desc-edit {
	font-size: 13px;
	padding: 0 0 5px 0;
}

.message-desc-edit a {
	/* @embed */
	background: transparent url(../images/action-edit.png) left center no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/action-edit.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/action-edit.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/action-edit.svg);
	background-size: 18px 18px;
	padding-left: 19px;
}

.tm-suggestions-title,
.in-other-languages-title {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
}

.tm-suggestion,
.in-other-language {
	font-size: 16px;
	border-left: 2px solid #3366BB;
	padding: 5px 5px 10px 10px;
	background-color: #F0F0F0;
	margin-bottom: 5px;
}

.in-other-language .language {
	color: #3366BB;
}

.tux-message-editor .help {
	font-size: 16px;
	padding: 10px 5px
}

.tux-message-editor .help a {
	font-size: 13px;
	padding: 0 0 0 5px;
}
