.ext-translate-msggroup-selector-menu {
	width: 600px;
}

.ext-translate-msggroup-selector h3 {
	border: medium none;
	color: #555555;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.25em;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-top: 1.25em;
}

.ext-translate-msggroup-selector h3.grouplink {
	color: #0645AD;
	cursor: pointer;
}

.ext-translate-msggroup-selector .expanded:after {
	content: ">";
}

.ext-translate-msggroup-selector-menu {
	position: absolute;
	top: 14px;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	margin-top: 13px;
	min-width: 600px;
	padding: 0;
	border: 1px solid #888;
	background-color: #F0F0F0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	text-align: left;
}

/* The triangle shaped callout */
.ext-translate-msggroup-selector-menu:before {
	border-bottom: 7px solid #888;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 99px;
	position: absolute;
	top: -7px;
}

.ext-translate-msggroup-selector-menu:after {
	border-bottom: 6px solid #FFFFFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 100px;
	position: absolute;
	top: -6px;
}

.ext-translate-msggroup-search-input {
	width: 100%;
	height: 32px;
}

.ext-translate-msggroup-search-icon {
	/* @embed */
	background: url('../images/search.png') no-repeat scroll right center transparent;
	background-size: 30px;
	height: 32px;
	width: 32px;
	float: right;
}

.ext-translate-msggroup-list {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FFFFFF;
	min-height: 200px;
}

.ext-translate-msggroup-item {
	border-bottom: 1px solid #EEEEEE;
	height: 50px;
}

.ext-translate-msggroup-item .label {
	font-weight: normal;
	line-height: 40px;
	padding-bottom: 3px;
	padding-left: 15px;
	cursor: pointer;
	white-space: nowrap;
}

.ext-translate-msggroup-item .label .tux-statsbar {
	position: absolute;
	bottom: 0px;
	width: 150px;
}

.ext-translate-msggroup-item .icon {
	/* @embed */
	background: url(../images/project.png) no-repeat scroll right center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/project.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/project.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/project.svg);
	/* Keep this in sync with js! */
	background-size: 32px;
	height: 50px;
	width: 50px;
}

.ext-translate-msggroup-selector-menu button {
	height: 32px;
	margin: 5px;
	font-weight: bold;
}

.ext-translate-msggroup-category {
	cursor: pointer;
}

.ext-translate-msggroup-category.selected {
	border-bottom: 2px solid #0645AD;
	height: 31px;
}
