/*
 * Breadcrumb for message group selector
 */
.tux-breadcrumb {
	color: #222;
	margin-top: 5px;
	font-size: 14pt;
	line-height: 1.25em;
}

/* Arrow between breadcrumb items */
.tux-breadcrumb .grouplink + .grouplink:before {
	border-left: 4px solid #777;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	content: '';
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -5px;
}

/* This applies to all items in the breadcrumb */
.tux-breadcrumb .grouptitle {
	float: left;
	padding: 0 6px 0 0;
}

/* Not all of these are links, so name is wrong besides being too generic.
 * This excludes the first item which says "message group". */
.tux-breadcrumb .grouplink {
	padding: 0 6px;
}

/* Color clickable groups to look as links */
.tux-breadcrumb__item--aggregate {
	cursor: pointer;
	color: #0645ad;
}

.tux-message-selector {
	font-size: 14px;
	margin: 0;
	padding: 6px 0 0 0;
	list-style: none;
}

.tux-message-selector .column {
	border: medium none;
	font-size: 14pt;
	cursor: pointer;
	font-weight: normal;
	line-height: 1.25em;
	top: 1px;
	display: block;
	margin-bottom: 0;
}

.tux-message-selector .more {
	padding: 0 40px 0 5px;
}

.tux-message-selector .more ul {
	display: none;
	cursor: default;
	border: 1px solid #777;
	border-top: 2px solid transparent;
	padding: 3px 5px 10px 5px;
	width: 300px;
	z-index: 10;
	background: #fff;
	top: 100%;
	left: -5px;
}

.tux-message-selector .more ul a {
	display: block;
	white-space: nowrap;
	margin-left: 1px;
}

.tux-message-selector .more:hover ul {
	display: block;
	position: absolute;
}

.tux-message-selector .more:hover li {
	float: none;
}

.tux-message-selector li.selected {
	border-bottom: 2px solid #36c;
}

.tux-message-selector li.selected a {
	color: #36c;
}

.tux-message-selector li a {
	color: #54595d;
	text-decoration: none;
	white-space: nowrap;
	margin-left: 1px;
}

.tux-message-selector label {
	color: #54595d;
	font-size: 12pt;
	top: 1px;
}

.tux-editor-header {
	color: #222;
	font-size: 14px;
	padding-bottom: 20px;
}

.tux-editor-header .description {
	margin: 5px 0;
}

.group-warning {
	background: #fff5aa;
	padding: 5px;
	margin: 5px 0;
}

.group-warning:empty {
	display: none;
}

.tux-messagetable-header {
	padding-top: 5px;
	border-bottom: 1px solid #777;
	/* @noflip */
	box-shadow: 0 3px 3px -3px rgba( 0, 0, 0, 0.5 );
	font-size: 14px;
	margin: 0;
	list-style: none;
	transition: width 250ms;
}

@media screen and ( min-height: 600px ) {
	.tux-messagetable-header.floating {
		background: #fff;
		position: fixed;
		padding-top: 5px;
		top: 0;
		z-index: 200;
	}

	.tux-messagetable-header.floating + .tux-messagelist {
		margin-top: 50px;
	}
}

.tux-message-filter-box {
	background: no-repeat url( ../images/search.svg ) 8px center;
	background-size: 18px;
	font-size: 14px;
	/* FIXME: `box-sizing` lives here due to a shortcoming in Timeless, isn't needed in other skins
	As soon as https://phabricator.wikimedia.org/T276896 is resolved, next line should be removed */
	box-sizing: border-box !important;
	height: 28px;
	border: 1px solid #c9c9c9;
	width: 100%;
	padding: 0 5px 0 34px;
	margin: 0;
}

.client-nojs .tux-messagetable-header {
	display: none;
}

.client-js .tux-nojs {
	display: none;
}

.mw-special-Translate #firstHeading {
	display: none;
}
