@import 'mediawiki.skin.variables.less';
@import 'mediawiki.mixins.less';

/* Default colors */
.tux-messagelist {
	background-color: @background-color-interactive-subtle;
	color: @color-base;
	max-width: 800px;
}

.grid.ext-translate-container .row {
	min-width: 300px !important;
}

@media screen and ( max-width: 600px ) {
	.grid.ext-translate-container .tux-messagelist .tux-list-message {
		width: 100%;
	}

	.tux-list-status,
	.tux-list-edit {
		display: none;
	}
}

.tux-message {
	height: auto;
	cursor: @cursor-base--hover;
}

/* The "block" views of page mode and proofreading mode have 0 margin on
 * .tux-message. To make the actual editor be of same width, set 0 margin on
 * the open editor (overriding the -5px set by the grid) */
.grid .tux-message.open {
	margin: 0 auto;
}

.tux-message-item {
	line-height: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 5px !important;
	margin-left: 5px !important;
	vertical-align: middle;
	border-bottom: @border-subtle;
	background: @background-color-base;

	.last-message & {
		border-bottom: 0;
	}
}

.tux-message-item.translated,
.tux-message-item.translated:hover,
.tux-message-item.proofread,
.tux-message-item.proofread:hover {
	background-color: @background-color-interactive;
}

.tux-message-item:hover {
	background-color: @background-color-interactive--hover;
}

.tux-list-status span,
.tux-list-edit {
	padding: 5px;
	white-space: nowrap;
}

.tux-info {
	background-color: @background-color-neutral;
}

.tux-list-source {
	white-space: nowrap;
	text-overflow: ellipsis;
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: isolate;
}

.tux-list-translation {
	color: @color-subtle;
	white-space: nowrap;
	padding-left: 5px;
	text-overflow: ellipsis;
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: isolate;
}

.tux-list-message {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tux-status-unsaved::before {
	content: '';
	.cdx-mixin-css-icon( @cdx-icon-edit, currentColor, @size-icon-small, @param-vertical-align: middle );
	margin-right: @spacing-25;
}

.tux-status-translated,
.tux-status-proofread {
	&::before {
		content: '';
		.cdx-mixin-css-icon( @cdx-icon-check, currentColor, @size-icon-small, @param-vertical-align: middle );
		margin-right: @spacing-25;
	}
}

.tux-status-fuzzy::before {
	content: '';
	.cdx-mixin-css-icon( @cdx-icon-clock, currentColor, @size-icon-small, @param-vertical-align: middle );
	margin-right: @spacing-25;
}

.tux-list-edit a::before {
	content: '';
	.cdx-mixin-css-icon( @cdx-icon-edit, currentColor, @size-icon-small, @param-vertical-align: middle );
	margin-right: @spacing-25;
}

.tux-messagetable-loader {
	color: @color-subtle;
	padding: 15px;
	top: 0;
	background: @background-color-neutral;
}

.tux-messagetable-loader-info {
	padding-left: 46px;
	font-size: 25px;
}

.tux-action-bar {
	background-color: @background-color-neutral;
	border-top: @border-subtle;
	color: @color-base;
	transition: width 250ms;

	@media screen and ( min-height: 600px ) {
		position: sticky;
		bottom: 0;
		z-index: 200;
	}
}

.tux-action-bar .tux-statsbar {
	position: relative;
	/**
	 * Center the statsbar. The center is calculated based on the parent
	 * height (50px) and subtracting the height of the statsbar (5px) and
	 * then taking the half of that value.
	 */
	top: 22px;
}

.tux-action-bar .tux-view-switcher {
	padding: 0 5px;
}

.tux-action-bar button {
	min-height: 40px;
	font-size: 14px;
	margin: 5px 0;
	cursor: @cursor-base--hover;
	background-color: @background-color-interactive;
	font-weight: bold;
	line-height: 1;
	border: @border-subtle;
}

.tux-action-bar button:hover {
	background-color: @background-color-interactive--hover;
}

.tux-action-bar button:active,
.tux-action-bar button.down {
	background: @background-color-inverted;
	color: @color-inverted;
}

.tux-action-bar button.disabled,
.tux-action-bar button.disabled:hover {
	color: @color-disabled;
	cursor: @cursor-base;
	background-color: @background-color-disabled;
	border-color: @border-color-disabled;
}

.tux-view-switcher button {
	padding: 0 2px 0 0;
}

.tux-view-switcher button:first-child {
	border-radius: @border-radius-base @border-radius-sharp @border-radius-sharp @border-radius-base;
	border-right: 0;
}

.tux-view-switcher button:last-child {
	border-radius: @border-radius-sharp @border-radius-base @border-radius-base @border-radius-sharp;
	border-left: 0;
}

.tux-view-switcher button::before {
	content: '';
	display: inline-block;
	margin-right: @spacing-25;
}

.tux-action-bar .translate-mode-button {
	width: 30%;
}

.tux-action-bar .translate-mode-button::before {
	.cdx-mixin-css-icon( 'none', currentColor, @size-icon-small, @param-vertical-align: middle );
	-webkit-mask-image: url( ../images/view-list.svg );
	mask-image: url( ../images/view-list.svg );
}

.tux-action-bar .page-mode-button::before {
	.cdx-mixin-css-icon( 'none', currentColor, @size-icon-small, @param-vertical-align: middle );
	-webkit-mask-image: url( ../images/view-page.svg );
	mask-image: url( ../images/view-page.svg );
}

.tux-action-bar .page-mode-button {
	width: 30%;
}

.tux-action-bar .proofread-mode-button {
	width: 36%;
}

.tux-action-bar .proofread-mode-button::before {
	.cdx-mixin-css-icon( @cdx-icon-check, currentColor, @size-icon-small, @param-vertical-align: middle );
}

.tux-message-filter-result {
	color: @color-base;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: @border-subtle;
	background: @background-color-warning-subtle;
	padding: 5px;

	& button {
		background: inherit;
	}
}

.tux-empty-list {
	padding: 20px;
}

.tux-empty-list-header {
	font-size: 25px;
	padding: 5px 0;
}

.tux-empty-list-guide {
	color: @color-subtle;
	font-size: 15px;
	padding: 5px 0;
}

.tux-empty-list-actions {
	font-size: 15px;
	padding: 8px 0;
}

.tux-empty-list-actions a {
	cursor: @cursor-base--hover;
	margin: 0 10px;
}
