/*
 * Form at Special:Translate
 */
.mw-sp-translate-error {
	font-style: italic;
	background-color: yellow;
}

/* This gets pretty far on wide screens... */
.mw-sp-translate-settings input[type=submit] {
	float: right;
}

/* For some reason a non-breaking space is not enough to keep the label
 * with the dropdown. */
.mw-sp-translate-settings label {
	white-space: nowrap;
}

/*
 * This reserves one corner with curvy lines for the message group status.
 */
#mw-sp-translate-workflow {
	float: right;
	vertical-align: middle;
	padding: 0.5em;
	margin-left: 20px;
	margin-right: -1em;
	margin-top: -1em;
	border-bottom: 2px dotted #666;
	border-left: 1px dotted #AAA;
	border-bottom-left-radius: 10px;
}

.tux-message-selector {
	font-size: 14px;
	margin: 0;
	padding: 6px 0 0 0;
	list-style: none;
}

.tux-message-selector li {
	border: medium none;
	font-size: 14pt;
	cursor: pointer;
	font-weight: normal;
	line-height: 1.25em;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-top: 1.25em;
	top: 1px;
	display: block;
	position: relative;
	float: left;
	margin-bottom: 0;
}

.tux-message-selector .more {
	padding: 0 40px 0 5px;
}

.tux-message-selector .more ul {
	display: none;
	cursor: default;
	border: 1px solid #777;
	border-top: 2px solid transparent;
	padding: 3px 5px 10px 5px;
	width: 300px;
	z-index: 10;
	background: #fff;
	top: 100%;
	left: -5px;
}

.tux-message-selector .more ul a {
	display: block;
	white-space: nowrap;
	margin-left: 1px;
}

.tux-message-selector .more:hover ul {
	display: block;
	position: absolute;
}

.tux-message-selector .more:hover li {
	float: none;
}

.tux-message-selector li.selected {
	border-bottom: 2px solid #3366BB;
}

.tux-message-selector li.selected a {
	color: #3366BB;
}

.tux-message-selector li a {
	color: #555555;
	text-decoration: none;
	white-space: nowrap;
	margin-left: 1px;
}

.tux-message-selector label {
	font-size: 12pt;
	color: #555555;
	top: 1px;
}

.tux-editor-header {
	padding-bottom: 25px;
}

.tux-editor-header .description {
	font-size: 14px;
	color: #252525;
}

.tux-workflow-status {
	font-size: 14px;
	background: #eee;
	border: 1px solid #ddd;
	color: #252525;
	cursor: pointer;
	display: inline-block;
	padding: 2px 4px;
	margin: 0 5px;
}

.tux-workflow-status:hover {
	border: 1px solid #c9c9c9;
}

.tux-workflow-status:after {
	margin-left: 3px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #555;
	content: "";
	display: inline-block;
	vertical-align: middle;
}

ul.tux-workflow-status-selector {
	padding-top: 2em;
	border: 1px solid #c9c9c9;
	/* @noflip */
	-webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
	/* @noflip */
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
	font-size: 14px;
	margin: 0 5px;
	list-style: none;
	cursor: pointer;
	padding: 4px;
	width: 200px;
	z-index: 10;
	background: #fff;
	display: block;
	position: absolute;
}

ul.tux-workflow-status-selector li {
	color: #555555;
	font-size: 14px;
	padding: 0 2px;
}

ul.tux-workflow-status-selector li:hover {
	background-color: #f0f0f0;
	color: #252525;
}

ul.tux-workflow-status-selector li.selected {
/* @embed */
	background: url(../images/label-tick.png) right no-repeat;
	color: #252525;
}

.tux-messagetable-header {
	padding-top: 2em;
	border-bottom: 1px solid #777;
	/* @noflip */
	-webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
	/* @noflip */
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
	font-size: 14px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tux-messagetable-header input.tux-message-filter-box {
	font-size: 14px;
	height: 28px;
	border: 1px solid #C9C9C9;
	padding: 0 5px;
}

.tux-messagetable-header span.tux-message-filter-box-icon {
	/* @embed */
	background: url('../images/search.png') no-repeat scroll right center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/search.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/search.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/search.svg);
	background-size: 25px;
	height: 28px;
	width: 28px;
	position: relative;
	left: -5px;
}
