.tux-message-editor {
	border: 1px solid #777;
	background-color: #FFFFFF;
}

.tux-message-editor .close {
	/* @embed */
	background: url('../images/close.png') no-repeat scroll center center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/close.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/close.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/close.svg);
	padding: 15px;
	cursor: pointer;
}

.tux-message-editor .editor-info-toggle {
	padding: 15px;
	cursor: pointer;
}

.tux-message-editor .editor-contract {
	/* @embed */
	background: url('../images/contract-ltr.png') no-repeat scroll center center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/contract-ltr.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/contract-ltr.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/contract-ltr.svg);
}

.tux-message-editor .editor-expand {
	/* @embed */
	background: url('../images/expand-ltr.png') no-repeat scroll center center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/expand-ltr.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/expand-ltr.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/expand-ltr.svg);
}

.tux-message-editor .editcolumn {
	border-right: 1px solid #777;
}

.tux-message-editor textarea {
	border: 1px solid #555;
	font-size: 12pt;
	height: 100px;
	margin: 10px;
}

.tux-message-editor .messagekey {
	font-size: 12pt;
	font-weight: bold;
}

.tux-message-editor .sourcemessage {
	font-size: 12pt;
	padding: 10px;
}

.tux-message-editor .button {
	text-overflow: ellipsis;
	font-size: 12pt;
	height: 35px;
}

.tux-message-editor .shortcutinfo {
	font-size: 12pt;
	color: #555;
}

.tux-message-editor .infocolumn {
	padding-left: 20px;
	font-size: 12pt;
}

.message-desc,
.message-desc-edit {
	font-size: 12pt;
}

.message-desc-edit a{
	/* @embed */
	background: transparent url(../images/action-edit.png) left center no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/action-edit.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/action-edit.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/action-edit.svg);
	background-size: 18px 18px;
	padding-left: 19px;
}

.tm-suggestions-title,
.in-other-languages-title {
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 10px;
}

.tm-suggestion,
.in-other-language {
	font-size: 10pt;
	border-left: 2px solid #3366BB;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #F0F0F0;
}

.tux-message-editor .help {
	font-size: 10pt;
}
