.mw-translate-helplink {
	float: right;
	width: 100%;
	display: block;
	margin-top: -10px;
	margin-bottom: -10px;
}

.mw-translate-helplink a {
	background: url(../images/help.png) no-repeat scroll left center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/help.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('../images/help.svg');
	padding-left: 20px;
	float: right;
}
