/*
 * Breadcrumb
 */
.tux-breadcrumb {
	margin-bottom: 10px;
}

.tux-breadcrumb .grouplink + .grouplink:before {
	border-left: 4px solid #777;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -5px;
}

.tux-breadcrumb span {
	border: medium none;
	color: #555555;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.25em;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-top: 1.25em;
}

.tux-breadcrumb span.grouptitle {
	float: left;
	padding: 0 6px 0 0;
}

.tux-breadcrumb span.grouplink {
	color: #0645AD;
	cursor: pointer;
	float: left;
	min-height: 1px;
	padding: 0 6px;
	position: relative;
}

/**
 * Group selector
 */
.tux-groupselector {
	position: absolute;
	top: 14px;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	margin-top: 13px;
	min-width: 600px;
	width: 600px;
	padding: 0;
	border: 1px solid #888;
	background-color: #F0F0F0;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	text-align: left;
}

/* The triangle shaped callout */
.tux-triangle-down:before,
.tux-triangle-down:after,
.tux-triangle-up:before,
.tux-triangle-up:after {
	content: "";
	display: inline-block;
	position: absolute;
}

.tux-triangle-down:before,
.tux-triangle-up:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	left: 99px;
}

.tux-triangle-down:after,
.tux-triangle-up:after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	left: 100px;
}

.tux-triangle-down:before {
	border-top: 7px solid #888;
	bottom: -7px;
}

.tux-triangle-down:after {
	border-top: 6px solid #FFFFFF;
	bottom: -6px;
}

.tux-triangle-up:before {
	border-bottom: 7px solid #888;
	top: -7px;
}

.tux-triangle-up:after {
	border-bottom: 6px solid #F0F0F0;
	top: -6px;
}

.grid .tux-groupselector__title {
	border: none;
	color: #555555;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.25em;
	padding: 5px 0 0 10px; /* grid override */
	margin: 0;
}

.tux-groupselector__filter {
	position: relative;
	height: 36px;
	border-bottom: solid 1px #c9c9c9;
}

.grid .tux-groupselector__filter__tabs {
	position: absolute; /* grid override */
	bottom: 0;
}

.grid .tux-groupselector__filter__search {
	position: absolute; /* grid override */
	padding-right: 0; /* grid override */
	right: 0;
	bottom: 2px;
}

.tux-groupselector__filter__search__input {
	font-size: 14px;
	width: 100%;
	height: 28px;
	border: 1px solid #C9C9C9;
	padding: 0 5px;
}

.tux-groupselector__filter__search__icon {
	background: url('../images/search.png') no-repeat scroll right center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/search.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(../images/search.svg);
	background-size: 25px;
	height: 28px;
	width: 28px;
	float: right;
}

.tux-groupselector button {
	height: 32px;
	margin: 5px;
	font-weight: bold;
}

/*
 * Group tab
 */
.tux-grouptab {
	color: #252525;
	cursor: pointer;
	padding: 2px 5px;
	margin: 0 4px;
	display: inline-block;
}

.tux-grouptab--selected {
	border-bottom: 2px solid #0645AD;
}

/*
 * Group list
 */
.tux-grouplist {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FFFFFF;
	min-height: 200px;
	border-radius: 0 0 5px 5px;
}

.tux-grouplist__item {
	position: relative;
	border-bottom: 1px solid #EEEEEE;
	height: 50px;
	cursor: pointer;
}

.grid .tux-grouplist__item__label {
	padding-bottom: 3px; /* grid override */
	padding-left: 15px; /* grid override */
	font-weight: normal;
	line-height: 40px;
	cursor: pointer;
	white-space: nowrap;
}

.tux-grouplist__item__label .tux-statsbar {
	position: absolute;
	bottom: 0;
	width: 150px;
}

.tux-grouplist__item__icon {
	background: url(../images/project.png) no-repeat scroll right center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/project.svg);
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url(../images/project.svg);
	/* Keep this in sync with js! */
	background-size: 32px;
	height: 50px;
	width: 50px;
}

.grid .tux-grouplist__item__subgroups {
	position: absolute; /* grid override */
	padding: 0 15px 2px 0; /* grid override */
	font-weight: normal;
	line-height: 1.25em;
	bottom: 0;
	right: 0;
	text-align: right;
	color: #777;
	font-size: 10pt;
}
