.tux-workflow-status {
	background: #eee;
	border: 1px solid #ddd;
	color: #252525;
	cursor: pointer;
	display: inline-block;
	padding: 2px 4px;
	margin: 5px 0;
}

.tux-workflow-status:hover {
	border: 1px solid #c9c9c9;
}

.tux-workflow-status:after {
	margin-left: 3px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #555;
	content: "";
	display: inline-block;
	vertical-align: middle;
}

.tux-workflow-status-selector li {
	color: #555555;
	display: block;
	font-size: 14px;
	padding: 0 2px;
}

.tux-workflow-status-selector li.changeable:hover {
	cursor: pointer;
	background-color: #f0f0f0;
	color: #252525;
}

.tux-workflow-status-selector li.selected {
	/* @embed */
	background: url(../images/label-tick.png) right no-repeat;
	color: #252525;
}
