.mw-translate-page-info {
	font-size: x-small;
	text-align: center;
	direction: ltr;
}

.mw-pt-languages {
	border: 1px solid rgb(170, 170, 170);
	background: rgb(246, 249, 237) none repeat scroll 0 0;
	border-collapse: collapse;
	line-height: 1.5;
	width: 100%;
	clear: both;
	overflow: auto;
}

.mw-pt-languages-label {
	float: left;
	border-right: 1px solid rgb(170, 170, 170);
	padding: 0.5em;
	background: rgb(238, 243, 226) none repeat scroll 0 0;
	font-weight: bold;
	width: 15%;
}

.mw-pt-languages-list {
	width: 80%;
	float: left;
	padding: 0.5em;
}

.mw-pt-translate-header {
	font-size: x-small;
	text-align: center;
}

.mw-pt-languages-selected, .mw-pt-languages-ui {
	font-weight: bold;
}
