.ext-translate-container .tux-messagelist .tux-message-proofread {
	height: auto;
	min-height: 50px;
	padding: 20px 0 10px 0;
	margin: 0;
	vertical-align: middle;
	border-bottom: 1px solid #f8f8f8;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

.tux-message-proofread:hover {
	background: #fafafa;
}

.tux-proofread-source {
	color: #555;
	font-size: 16px;
	line-height: 1.5em;
}

.tux-proofread-translation {
	color: #252525;
	font-size: 16px;
	line-height: 1.5em;
}

.tux-proofread-status,
.tux-proofread-action-block {
	top: -10px;
}

.tux-proofread-status.outdated {
	/* @embed */
	background: url(../images/outdated.png) left center no-repeat;
	height: 40px;
}

.tux-proofread-status.translated,
.tux-proofread-status.proofread {
	/* @embed */
	background: url(../images/translate.png) left center no-repeat;
	height: 40px;
}


.tux-proofread-action {
	/* @embed */
	background: url(../images/uncheck.png) right center no-repeat;
	height: 40px;
	cursor: pointer;
}

.tux-proofread-action:hover {
	/* @embed */
	background: url(../images/uncheck-hi.png) right center no-repeat;
	height: 40px;
}

.tux-proofread-action.proofread {
	/* @embed */
	background: url(../images/check.png) right center no-repeat;
	height: 40px;
}

.tux-proofread-action.proofread:hover {
	/* @embed */
	background: url(../images/check-hi.png) right center no-repeat;
	height: 40px;
}

.tux-proofread-edit {
	/* @embed */
	background-image: url(../images/label-pen.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/label-pen.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/label-pen.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/label-pen.svg);
	background-repeat: no-repeat;
	background-position: right center;
	height: 40px;
	cursor: pointer;
	visibility: hidden;
}

.tux-message-proofread:hover .tux-proofread-edit {
	visibility: visible;
}
