/* Form at Special:Translate */
.mw-sp-translate-error {
	font-style: italic;
	background-color: yellow;
}

/* This gets pretty far on wide screens... */
.mw-sp-translate-settings input[type=submit] {
	float: right;
}

/* For some reason a non-breaking space is not enough to keep the label
 * with the dropdown. */
.mw-sp-translate-settings label {
	white-space: nowrap;
}

.mw-sp-translate-table {
	width: 100%;
	border-width: 1px;
	border-collapse: collapse;
}

.mw-sp-translate-table th {
	background-color: #b2b2ff;
	border: 1px solid;
}

.mw-sp-translate-table tr.orig {
	background-color: #ffe2e2;
}

.mw-sp-translate-table tr.new {
	background-color: #e2ffe2;
}

.mw-sp-translate-table tr.def {
	background-color: #f0f0ff;
}

.mw-sp-translate-table tr.ign {
	background-color: #202020;
}

.mw-sp-translate-table tr.opt {
	background-color: #F2F200;
}

.mw-sp-translate-table .untranslated {
	background-color: #a2f290;
}

.mw-sp-translate-table > tbody > tr > * {
	vertical-align: top;
	border: 1px solid #909090;
}

.mw-translate-messagereviewbutton {
	float: right;
}

.mw-translate-messagereviewstatus {
	clear: right;
	text-align: right;
}
