.ext-translate-container .tux-messagelist .tux-message-proofread {
	height: auto;
	min-height: 50px;
	padding: 40px 0px;
	margin: 0 auto;
	vertical-align: middle;
	border-bottom: 1px solid #f0f0f0;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	max-width: 900px;
	background: #FFFFFF;
}

.ext-translate-container .tux-messagelist .tux-message-proofread:hover {
	background: #FCFCFC;
}

.ext-translate-container .tux-messagelist .tux-message-proofread:first-child {
	margin-top: 10px;
	padding-top: 60px;
	border-top: 1px solid #DDDDDD;
}

.ext-translate-container .tux-messagelist .tux-message-proofread:last-child {
	margin-bottom: 10px;
	padding-bottom: 60px;
	border-bottom: 1px solid #DDDDDD;
}

.tux-message-proofread.open .tux-proofread-status,
.tux-message-proofread.open .tux-proofread-source,
.tux-message-proofread.open .tux-proofread-translation,
.tux-message-proofread.open .tux-proofread-action-block {
	display: none;
}

.tux-messagelist .tux-message-proofread .tux-proofread-source {
	color: #555;
	font-size: 16px;
	line-height: 1.5em;
	padding-right: 25px;
	padding-left: 25px;
}

.tux-messagelist .tux-message-proofread .tux-proofread-translation {
	color: #252525;
	font-size: 16px;
	line-height: 1.5em;
	padding-left: 20px;
}

.tux-proofread-action-block {
	top: -5px;
	right: -5px;
}

.translated-by-self {
	float: right;
	text-align: right;
	font-size: x-small;
	margin-right: 5px;
}

.tux-proofread-status {
	top: -10px;
}

.tux-proofread-status.fuzzy {
	/* @embed */
	background: url(../images/outdated.png) left center no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/outdated.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/outdated.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/outdated.svg);
	height: 40px;
}

.tux-proofread-status.untranslated {
	/* @embed */
	background: url(../images/translate.png) left center no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/translate.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/translate.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/translate.svg);
	height: 40px;
}


.tux-proofread-action {
	/* @embed */
	background: url(../images/check-sprite.png) right top no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/check-sprite.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/check-sprite.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/check-sprite.svg);
	height: 31px;
	cursor: pointer;
}

.tux-proofread-action:hover {
	background-position: right -31px;
}

.tux-proofread-action.proofread {
	background-position: right -62px;
}

.tux-proofread-action.proofread:hover {
	background-position: right -93px;
}

.tux-proofread-edit {
	/* @embed */
	background-image: url(../images/edit-mark.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/edit-mark.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/edit-mark.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/edit-mark.svg);
	background-repeat: no-repeat;
	background-position: right center;
	height: 40px;
	cursor: pointer;
	visibility: hidden;
}

.tux-message-proofread:hover .tux-proofread-edit {
	visibility: visible;
}
