span.tp-aggregate-remove-ag-button,
span.tp-aggregate-remove-button {
	background: url(../images/remove.png) no-repeat scroll left center transparent;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/remove.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('../images/remove.svg');
	padding: 10px;
	cursor: pointer;
}

span.tp-aggregate-edit-ag-button {
	background: url(../images/action-edit.png) no-repeat scroll left center transparent;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/action-edit.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('../images/action-edit.svg');
	background-size: 18px 18px;
	padding: 10px;
	cursor: pointer;
}

a.tpt-add-new-group {
	background: url(../images/add.png) no-repeat scroll left center transparent;
	/* @embed */
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/add.svg');
	/* @embed */
	background-image: linear-gradient(transparent, transparent), url('../images/add.svg');
	padding-left: 20px;
}

input.tp-aggregategroup-add-name {
	width: 250px;
}

input.tp-aggregategroup-add-description {
	width: 500px;
}

div.hidden {
	display: none;
}

.tp-aggregategroup-edit-name {
	width: 250px;
}

.tp-aggregategroup-edit-description {
	width: 500px;
}
