.tux-dropdown-menu {
	border: 1px solid #c9c9c9;
	/* @noflip */
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
	font-size: 14px;
	margin: 0;
	list-style: none;
	padding: 4px;
	z-index: 300;
	background: #fff;
	display: block;
	position: absolute;
}
