.ext-translate-msggroup-selector-menu {
	width: 600px;
}

.ext-translate-msggroup-selector {
	margin-bottom: 10px;
}

.ext-translate-msggroup-selector .grouplink + .grouplink:before {
	border-left: 4px solid #777;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -5px;
}

.ext-translate-msggroup-list:last-child {
	border-radius: 0 0 5px 5px;
}

.ext-translate-msggroup-selector span {
	border: medium none;
	color: #555555;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.25em;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-top: 1.25em;
}

.ext-translate-language-selector-label {
	color: #555555;
}

.ext-translate-language-selector {
	float: right;
	text-align: right;
	border: medium none;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.25em;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-top: 1.25em;
}

/* The triangle shaped down-pointing callout after the language name
 * in the target language selector
 */
.ext-translate-language-selector:after {
	margin-left: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #0645AD;
	content: "";
	display: inline-block;
	vertical-align: middle;
}

.ext-translate-msggroup-selector span.grouptitle {
	float: left;
	padding: 0 6px 0 0;
}

.ext-translate-msggroup-selector span.grouplink {
	color: #0645AD;
	cursor: pointer;
	float: left;
	min-height: 1px;
	padding: 0 6px;
	position: relative;
}

.ext-translate-msggroup-selector-menu {
	position: absolute;
	top: 14px;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	margin-top: 13px;
	min-width: 600px;
	padding: 0;
	border: 1px solid #888;
	background-color: #F0F0F0;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	text-align: left;
}

.ext-translate-msggroup-selector-menu .title {
	border: none;
	color: #555555;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.25em;
	padding: 5px 0 0 10px;
	margin: 0;
}

/* The triangle shaped callout */
.ext-translate-msggroup-selector-menu:before {
	border-bottom: 7px solid #888;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 99px;
	position: absolute;
	top: -7px;
}

.ext-translate-msggroup-selector-menu:after {
	border-bottom: 6px solid #F0F0F0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 100px;
	position: absolute;
	top: -6px;
}

.ext-translate-msggroup-selector-menu .filters-group {
	position: relative;
	height: 36px;
	border-bottom: solid 1px #c9c9c9;
}

.ext-translate-msggroup-selector-menu .filters {
	position: absolute;
	bottom: 0;
}

.ext-translate-msggroup-selector-menu .search-group {
	position: absolute;
	right: 0;
	bottom: 2px;
	padding-right: 0;
}

.ext-translate-msggroup-search-input {
	font-size: 14px;
	width: 100%;
	height: 28px;
	border: 1px solid #C9C9C9;
	padding: 0 5px;
}

.ext-translate-msggroup-search-icon {
	/* @embed */
	background: url('../images/search.png') no-repeat scroll right center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/search.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/search.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/search.svg);
	background-size: 25px;
	height: 28px;
	width: 28px;
	float: right;
}

.ext-translate-msggroup-list {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FFFFFF;
	min-height: 200px;
}

.ext-translate-msggroup-item {
	position: relative;
	border-bottom: 1px solid #EEEEEE;
	height: 50px;
	cursor: pointer;
}

.ext-translate-msggroup-item .label {
	font-weight: normal;
	line-height: 40px;
	padding-bottom: 3px;
	padding-left: 15px;
	cursor: pointer;
	white-space: nowrap;
}

.ext-translate-msggroup-item .label .tux-statsbar {
	position: absolute;
	bottom: 0;
	width: 150px;
}

.ext-translate-msggroup-item .icon {
	/* @embed */
	background: url(../images/project.png) no-repeat scroll right center transparent;
	background-image: -webkit-linear-gradient(transparent, transparent), url(../images/project.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(../images/project.svg);
	background-image: linear-gradient(transparent, transparent), url(../images/project.svg);
	/* Keep this in sync with js! */
	background-size: 32px;
	height: 50px;
	width: 50px;
}

.ext-translate-msggroup-selector-menu button {
	height: 32px;
	margin: 5px;
	font-weight: bold;
}

.ext-translate-msggroup-selector-menu .footer {
	border-top: solid 1px #c9c9c9;
}

.ext-translate-msggroup-selector-menu .subgroup-info {
	font-weight: normal;
	line-height: 1.25em;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 15px 2px 0;
	text-align: right;
	color: #777;
	font-size: 10pt;
}

.ext-translate-msggroup-category {
	color: #252525;
	cursor: pointer;
	padding: 2px 5px;
	margin: 0 4px;
	display: inline-block;
}

.ext-translate-msggroup-category.selected {
	border-bottom: 2px solid #0645AD;
}

.ext-translate-language-selector .uls {
	color: #0645AD;
	cursor: pointer;
	min-height: 1px;
	position: relative;
}

.ext-translate-msggroup-selector-menu .tux-loading-indicator {
	top: 50%;
	left: 50%;
	position: absolute;
}
