.tux-statsbar {
	max-width: 400px;
	padding: 0;
	height: 5px;
	background-color: #bbb;
}

.tux-statsbar span {
	height: 5px;
	float: left;
	padding: 0;
	transition: width 1s;
}

.tux-statsbar .tux-proofread {
	background-color: #00af89;
}

.tux-statsbar .tux-translated {
	background-color: #2a4b8d;
}

.tux-statsbar .tux-fuzzy {
	background-color: #fc3;
}

.tux-statsbar .tux-untranslated {
	display: none;
}

.tux-statsbar-info {
	color: #72777d;
	font-weight: normal;
	line-height: 1.25em;
	font-size: 10pt;
	position: absolute;
	padding-top: 5px;
}
