.mw-sp-translate-edit-fields a {
	color: #00f;
}

.mw-sp-translate-edit-fields fieldset {
	line-height: normal;
	margin: 0;
	border: 1px solid #dbdbdb;
}

.mw-sp-translate-edit-fields legend {
	background-color: transparent;
}

/* Align the adder according to the target language */
/* @noflip */
.mw-translate-adder-ltr {
	float: left;
	padding-right: 1px;
}

/* @noflip */
.mw-translate-adder-rtl {
	float: right;
	padding-left: 1px;
}

.mw-translate-edit-deftext {
	/*
	 * Some browsers will render the monospace text too small, namely Firefox, Chrome and Safari.
	 * Specifying any valid, second value will trigger correct behavior without forcing a different font.
	 * See docs/uidesign/monospace.html of MediaWiki core source code.
	 * Also see T176636
	 */
	font-family: monospace, monospace;
}

/* Blue tints for translate fieldsets */
.mw-sp-translate-message-documentation {
	background-color: #ebebeb;
}

.mw-sp-translate-edit-definition {
	background-color: #eaf3fc;
}
