.mw-tpp-sp-container {
	form.mw-tpp-sp-form {
		margin-bottom: 0.5em;

		#page {
			width: 35%;
		}
	}

	.hide,
	.client-nojs & {
		display: none;
	}
}

.client-js .tux-nojs {
	display: none;
}

.mw-tpp-sp-input {
	display: flex;
	align-items: center;
}
