.mw-tpm-sp-unit__source,
.mw-tpm-sp-unit__target {
	overflow-y: auto;
	height: 150px;
	border: 2px solid gray;
}

#title {
	width: 35%;
}

.mw-tpm-sp-unit__actions {
	border: 2px solid transparent;
}

.hide {
	display: none;
}

.mw-tpm-sp-unit:last-child .mw-tpm-sp-action--swap,
.mw-tpm-sp-unit:last-child .mw-tpm-sp-action--add {
	display: none;
}

.mw-tpm-sp-unit {
	padding-bottom: 10px;
}

.mw-tpm-sp-unit__source,
.mw-tpm-sp-unit__target,
.mw-tpm-sp-unit__actions {
	height: 150px;
}

.mw-tpm-sp-action {
	width: 10%;
	height: 10%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	display: inline-block;
}

.mw-tpm-sp-action--delete {
	background: url('../images/trash_darkgray.png') transparent no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/trash_darkgray.svg');
	background-image: linear-gradient(transparent, transparent), url('../images/trash_darkgray.svg');
}

.mw-tpm-sp-action--swap {
	background: url('../images/switch.png') transparent no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/switch.svg');
	background-image: linear-gradient(transparent, transparent), url('../images/switch.svg');
}

.mw-tpm-sp-action--add {
	background: url('../images/plus_darkgray.png') transparent no-repeat;
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/plus_darkgray.svg');
	background-image: linear-gradient(transparent, transparent), url('../images/plus_darkgray.svg');
}

.mw-tpm-sp-error__message {
	font-size: 0.9em;
	word-wrap: break-word;
	color: #C00;
	border: 1px solid #FAC5C5;
	background-color: #FAE3E3;
}

.mw-tpm-sp-instructions {
	margin: 0.7em 0em;
}
