.tux-statsbar {
	max-width: 400px;
	padding: 0;
	height: 6px;
}

.tux-statsbar span {
	height: 6px;
	float: left;
	padding: 0;
	font-size: 0;
}

.tux-statsbar .tux-proofread {
	background-color: #23567F;
}

.tux-statsbar .tux-translated {
	background-color: #3A89C9;
}

.tux-statsbar .tux-fuzzy {
	background-color: #EBCC6E;
}

.tux-statsbar .tux-untranslated {
	background-color: #BBB;
}
