span.tp-aggregate-remove-ag-button,
span.tp-aggregate-remove-button {
	/* @embed */
	background: url(../images/remove.png) no-repeat scroll left center transparent;
	padding: 10px;
	cursor: pointer;
}

span.tp-aggregate-edit-ag-button {
	/* @embed */
	background: url(../images/action-edit.png) no-repeat scroll left center transparent;
	padding: 10px;
	cursor: pointer;
}

a.tpt-add-new-group {
	/* @embed */
	background: url(../images/add.png) no-repeat scroll left center transparent;
	padding-left: 20px;
}

input.tp-aggregategroup-add-name {
	width: 250px;
}

input.tp-aggregategroup-add-description {
	width: 500px;
}

div.hidden {
	display: none;
}

.tp-aggregategroup-edit-name {
	 width: 250px;
}

.tp-aggregategroup-edit-description {
	width: 500px;
}
