span.tp-aggregate-remove-ag-button,
span.tp-aggregate-remove-button {
	background: no-repeat scroll left center transparent;
	background-image: /* @embed */ linear-gradient( transparent, transparent ), url( ../images/remove.svg );
	padding: 10px;
	cursor: pointer;
}

span.tp-aggregate-edit-ag-button {
	background: no-repeat scroll left center transparent;
	background-image: /* @embed */ linear-gradient( transparent, transparent ), url( ../images/action-edit.svg );
	background-size: 18px 18px;
	padding: 10px;
	cursor: pointer;
}

a.tpt-add-new-group {
	background: no-repeat scroll left center transparent;
	background-image: /* @embed */ linear-gradient( transparent, transparent ), url( ../images/add.svg );
	padding-left: 20px;
}

input.tp-aggregategroup-add-name {
	width: 250px;
}

input.tp-aggregategroup-add-description {
	width: 500px;
}

div.hidden {
	display: none;
}

.tp-aggregategroup-edit-name {
	width: 250px;
}

.tp-aggregategroup-edit-description {
	width: 500px;
}

.client-nojs .tpt-add-new-group,
.client-nojs .tp-aggregate-edit-ag-button,
.client-nojs .tp-aggregate-remove-button,
.client-nojs .tp-aggregate-remove-ag-button,
.client-nojs .mw-tpa-group input {
	display: none;
}

.client-js .tux-nojs {
	display: none;
}
