.mw-pt-languages {
	display: table;
	border: 1px solid #a2a9b1;
	box-sizing: border-box;
	background: #f8f9fa none repeat scroll 0 0;
	border-collapse: collapse;
	line-height: 1.2;
	width: 100%;
	clear: both;
	overflow: auto;
}

.mw-pt-languages-label {
	display: table-cell;
	border-right: 1px solid #a2a9b1;
	padding: 0.5em;
	background: #eaecf0 none repeat scroll 0 0;
	font-weight: bold;
	width: 15%;
}

.mw-pt-languages-list {
	padding-left: 0.5em;
	padding-bottom: 0.7em;
	display: table-cell;
	width: 80%;
}

.mw-pt-languages-list a {
	white-space: nowrap;
}

.mw-pt-languages-selected,
.mw-pt-languages-ui {
	font-weight: bold;
}

.mw-pt-progress {
	padding-right: 11px;
	background: transparent right center no-repeat;
	background-size: 9px 9px;
}

/* Need very high specificity to override skin styles in the sidebar */
#mw-panel .portal .body .mw-pt-progress--none a,
.interwiki-x-pagetranslation.mw-pt-progress--none a {
	color: #ba0000;
}

#mw-panel .portal .body .mw-pt-progress--none a:visited,
.interwiki-x-pagetranslation.mw-pt-progress--none a:visited {
	color: #a55858;
}

.mw-pt-progress--stub {
	background-image: url( ../images/prog-1.png );
}

.mw-pt-progress--low {
	background-image: url( ../images/prog-2.png );
}

.mw-pt-progress--med {
	background-image: url( ../images/prog-3.png );
}

.mw-pt-progress--high {
	background-image: url( ../images/prog-4.png );
}

.mw-pt-progress--complete {
	background-image: url( ../images/prog-5.png );
}
